:root {
    /* tipografia */
    --tipo-jp: 'Noto Sans JP', sans-serif;
    --tipo-rubik: 'Rubik', sans-serif;
    /* Colores */
    --second-background: #EDCFA9;
    --first-background: #ECB390;
    --font-color-primary: #FCF8E8;
    --color-comp: #DF7861;
}

body{
    margin: 1rem;
    background-color: var(--second-background);
    font-family: var(--tipo-rubik);
}
/* Extras */
h2{
    color: var(--color-comp);
}
th{
    font-size: 1rem;

}
table,th,td{
    padding: .1rem;
    border: 1px solid #000;
    border-collapse: collapse;
}
button{
    display: block;
    padding: .7rem;
    margin: .5rem;
    border: none;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.1rem;
    color: var(--font-color-primary);
    cursor: pointer;
    border: .1rem solid var(--color-comp);

}
textarea{
    border: none;
    resize: none;
    box-shadow: none;
    outline: none;;
}

/* Contenido principal - fondo/logo - header - nav*/
.container{
    background-color: var(--first-background);
    width: 100%;
    position: relative;
    height: 100vh;
    padding: 1rem;
    z-index: 1;
}
.header__logo{
    bottom: 0rem;
    margin-left: -3rem;
    color: var(--second-background);
    font-size: 15rem;
    line-height: 1;
    position: fixed;
    z-index: -1;

}
.header__navGuia{
    position: absolute;
    top: -1rem;
    right: -1rem;
    border-radius: 25rem;
    background-color: var(--first-background);
    padding: 1.3rem;
    color: var(--font-color-primary);
    cursor: pointer;
    z-index: 2;
    border: 2px solid var(--second-background);

}

.guiaAbierta{
    position: absolute;
    z-index: 1;
    border: 2px solid var(--first-background);
    background: var(--second-background);
    color: var(--color-comp);

}
.cerrar{
    display: none;
}
.header__button{
    padding: .5rem;
}
/* Botones al ser seleccionados  */
.on{
    background: var(--color-comp);
    border-radius: 1.5rem 0 1.5rem 1.5rem;
    transition: all 1.4s ease;

}
.off{
    background: var(--first-background);
}


/*  MAIN / JUEGO */

.main__container{
    display: grid;
}
.main__contador{
    margin: .5rem;
}

.main__silabaRandom{
    grid-row: 2;
    text-align: center;
    font-size: 12rem;
    color: var(--font-color-primary);
    font-family: var(--tipo-jp);
}

.main p{
    color: var(--font-color-primary);
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--tipo-jp);
}
.btnEnviar{
    display: none;
}
.main__container textarea{
    padding: 1rem;
    justify-self: center;
    background: var(--color-comp);
    border-radius: 2rem;
    height: 50px;
    color: var(--font-color-primary);
    font-size: 1.3rem;
    text-align: center;


}
.main__container textarea::placeholder{
    color: var(--font-color-primary);

}

.main__container textarea:focus{
    background: var(--second-background);
    color: var(--color-comp);
}
.main__container textarea:focus::placeholder{
    color: var(--color-comp);
}
/* GUIA */

.guia{
    height: 100%;
    width: 100%;

}
.guia__container{
    width: 90%;
    height: 95%;
    margin: 1rem;
    background: var(--second-background);
    position: absolute;
}
.guia__silabarios{
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: grid;
    align-items: center;
    text-align: center;
}
.guiaMobile{
    height: 100%;
    width: 100%;
    top: 0rem;
    left: 100%;
    position: fixed;
    align-items: center;
    background: var( --first-background);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5ss ease-in-
}
.guiaDesktop{
    display: none;
}

/* DESKTOP  */
@media (min-width: 1024px) {
    /* menu desplegable */
    .guiaMobile{
        display: none;
        
    }
    .guiaDesktop{
        display: flex;
        height: 100%;
        width: 100%;
        top: 0rem;
        left: 100%;
        position: fixed;
        align-items: normal;
        background: var( --first-background);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5ss ease-in-
    }
    .guia__silabarios{
        text-align: left;
    }
    /* contenido */
    .header__logo {
        top: 0;
        left: 0;
        font-size: 36rem;
        font-weight: 0;
        position: absolute;
    }
    .header__navGuia {
        padding: 2.3rem;
        font-size: 1rem;
        border-radius: 25rem;
        border: 3px solid var(--second-background);
    }
    .cerrar{
        border-radius: 50%;
    }
    .header__button{
        position: absolute;
        top: 40rem;
    }
    #hira, #kara{
        font-size: 2.5rem;
    }
    /* Main */
    .main{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .main__container{
        grid-column:  2/3 ;
        grid-row: 2/4;
    }
    .main__container p{
        font-size: 3rem;
        margin: 0;
    }
    .main__silabaRandom {
        margin: 0;
        align-items: end;
        font-size: 18rem;
    }
    .main__container textarea{
        height: auto;
        font-size: 1.4rem;
    }

}