:root {
    /* tipografia */
    --tipo-jp: 'Noto Sans JP', sans-serif;
    --tipo-rubik: 'Rubik', sans-serif;
    /* Colores */
    --first-background: #ECB390;
    --second-background: #D4E2D4;
    --font-color-primary: #FCF8E8;
    --color-comp: #DF7861;
}
body{
    margin: 1rem;
    background: var(--second-background);
    font-family: var(--tipo-rubik);
}
/* Extras */
h2{
    color: var(--color-comp);
}
th{
    font-size: 1rem;

}
table,th,td{
    padding: .1rem;
    border: 1px solid #000;
    border-collapse: collapse;
}
button{
    display: block;
    padding: .7rem;
    margin: .5rem;
    border: none;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.1rem;
    color: var(--font-color-primary);
    cursor: pointer;
    border: .1rem solid var(--color-comp);

}
textarea{
    border: none;
    resize: none;
    box-shadow: none;
    outline: none;;
}

/* Contenido principal - fondo/logo - header - nav*/
.container{
    background: var(--first-background);
    width: 100%;
    height: 100%;
}
.header__logo{
    display: flex;
    flex-direction: column-reverse;
    margin-left: -3rem;
    color: var(--second-background);
    font-size: 15rem;
    line-height: 1;

}
.header__navGuia{
    position: absolute;
    right: 0rem;
    top: -1rem;
    border-radius: 100%;
    background-color: var(--first-background);
    padding: 3rem;
    color: var(--font-color-primary);
    cursor: pointer;
    z-index: 2;

}
.guiaAbierta{
    background: var(--second-background);
    color: var(--color-comp);

}
.cerrar{
    display: none;
}
.header__button{
    padding: .5rem;
}
/* Botones al ser seleccionados  */
.on{
    background: var(--color-comp);
    border-radius: 1.5rem 0 1.5rem 1.5rem;
    transition: all 1.4s ease;

}
.off{
    background: var(--first-background);
}


/*  MAIN / JUEGO */

.main__container{
    display: grid;
}
.main__contador{
    margin: .5rem;
}

.main__silabaRandom{
    grid-row: 2;
    text-align: center;
    font-size: 12rem;
    color: var(--font-color-primary);
    font-family: var(--tipo-jp);
}

.main p{
    color: var(--font-color-primary);
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--tipo-jp);
}
.btnEnviar{
    display: none;
}
.main__container textarea{
    justify-self: center;
    background: var(--color-comp);
    border-radius: 2rem;
    height: 40px;
    color: var(--font-color-primary);
    font-size: 1.3rem;
    text-align: center;
    line-height: 40px;
    margin-bottom: 3rem;
}
.main__container textarea::placeholder{
    color: var(--font-color-primary);
    font-size: 1.3rem;
    text-align: center;
    line-height: 40px;
}

.main__container textarea:focus{
    background: var(--second-background);
    color: var(--color-comp);
}
.main__container textarea:focus::placeholder{
    color: var(--color-comp);
}
/* GUIA */

.guia{
    height: 100%;
    width: 100%;
    top: 0rem;
    left: 23rem;
    position: fixed;
    background: var( --first-background);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5ss ease-in-
}
.guia__container{
    width: 90%;
    height: 95%;
    margin: 1rem;
    background: var(--second-background);
    position: absolute;
}
.guia__silabarios{
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: grid;
    align-items: center;
    text-align: center;
}
